body{margin:0;padding:0;font-family: Arial}
div{font-size: 12px}
img{border:0}
a:link {text-decoration: none; color: #bfbec3 }
a:visited {text-decoration: none;color: #bfbec3 }
a:active {text-decoration: none;color: #bfbec3 }
a:hover {text-decoration: underline;color: #bfbec3 }
h1{font-size:50px;font-weight:bold;color:#4b506c;margin:10px;padding:0}
sup{font-size:10px}
.contents{width:980px;margin:0 auto;overflow:hidden}
.batch{font-family:batch}
.tableHead{height:45px;text-align:center;font-size:14px;color:#fff}
.add{cursor:pointer;height:40px;line-height:40px;padding:0 15px;text-align:center;font-size:30px;color:#fff}
.tab{float:left;padding:5px 30px;margin:10px 0 0 10px;font-size:25px;color:#fff;cursor:pointer;
    border-top:3px solid #fff;border-right:3px solid #fff;border-left:3px solid #fff
}
.VtabOn{border-top:3px solid #54597c;border-right:3px solid #54597c;border-left:3px solid #54597c}


.top{width:100%;background:#757dae;height:45px;color:#fff}

#back{margin:10px 0px 0px 0px;float:left;height:40px;line-height:40px;padding:0 15px;color:#fff;cursor:pointer;font-size:20px;}
#back:hover{margin:10px 0px 0px 0px;float:left;height:40px;line-height:40px;padding:0 15px;color:#fff;font-size:20px;}
#logo{float:left;width:100px}

#menu{float:left;width:255px;margin-top:-14px;font-size:13px;text-align:center}
#menu a:link,#menu a:visited,#menu a:active{text-decoration:none;color:#fff;font-weight:bold}
#menu a:hover{text-decoration:underline;color:#fff}

#search{float:left;margin-top:8px}
#searchTxt{width:155px;height:25px;line-height:20px;padding-left:7px;border:0;border-radius:7px;opacity:0.5;color:#fff;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#searchBtn{cursor:pointer;font-size:14px;line-height:20px;opacity:0.5}

#personal{float:right;margin:8px;line-height:20px;width:405px}
#personal div{float:left}
#personal .batch{font-size:15px;}
#Lemail{width:125px;height:25px;border:0;padding-left:7px;margin:0px 5px 0px 5px;border-radius:7px;opacity:0.5;color:#fff;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#Lpw{width:70px;height:25px;border:0;padding-left:7px;margin:0px 2px 0px 5px;border-radius:7px;opacity:0.5;color:#fff;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#Llogin{cursor:pointer;border:0;background:#BD84B1;color:#fff}
#Ljoin{cursor:pointer;border:0;background:none;color:#8ABDE0;font-weight:bold;overflow:hidden}
#Lalert{display:none}
#Llogined{width:405px;text-align:right;line-height:22px}
#Llogined0{color:#fff;font-size:18px;text-shadow:1px 1px 0 #000}
#Llogined1{color:#4b506c;font-size:16px}
#Llogined1:hover{color:#A5ABCA}

#join{height:150px;display:none;text-align:center;color:#fff;font-size:15px;padding:30px 0}
#join table{width:750px;margin:0 auto;text-align:left;color:#000}
#Jemail,#Jpw,#Jpwc,#Jnick{color:#fff;width:400px;margin:2px 0 2px 0;height:25px;border:0;padding-left:7px;border-radius:7px;opacity:0.5;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#Jcancel,#Jjoin{font-size:50px;color:#fff;cursor:pointer}
#Jalert{color:#8ABDE0;font-size:11px;font-weight:bold}

#middleVisual{width: 100%; height: 410px;position:relative;overflow:hidden}
.lists{margin: 10px;}
.lists .list1{width: 240px;float: left; }
.lists .list2{width: 300px;float: left }
.lists .list3{float: left;}
.lists .recommand{clear:both;margin-left: -10px;padding-bo: 20px}
.lists .blockLine{ height: 17px}

.lists h1{height: 1px;margin: 5px}
.list3 a:visited {text-decoration: none;color: #4c516d }
.list3 a:active {text-decoration: none;color: #4c516d }

.lists .title{color: #bfbec3; margin-top:-37px;margin-left: 50px; font-size: 12px }
.lists .hitNum{color: #4c516d; ;font-weight: bold;font-size: 11px;margin-top:5px}
.lists .list3 .title{ font-size: 18px;color: #404040; margin-top: -95px; margin-left: 115px;}
.lists .list3 .ex{color: #bbbbbb; width: 300px; height: 48px;margin-top:5px}
.lists .list3 .ex2{ color: #81acac;}


#Padd{float:right;margin:10px 0px 0px 0px;font-size:20px}
#pgMiddleVisual{width:100%; height:310px;position:relative;overflow:hidden}
/*#add input,select,textArea{border:0px; width:100%; height:100%; padding:5px}*/

#add .title {background:#54597c;color:#fff; padding:10px 10px 10px 10px; float:left;}
#add .value {background:#fff;padding:0px 15px 0px 15px;float:left; border:0px; height:35px}
#add .title2 {background:#54597c;color:#fff; padding:10px 10px 10px 10px; float:left;  width:80px;margin-top:2px}
#add .value2 {background:#fff;padding:0px 15px 0px 15px;border:0px; height:35px;margin-top:2px; width:680px}

.mlist td{height:45px;color:#4C516D;font-size:14px;border-bottom:1px dashed #999;font-weight:bold}
.mlist a{color:#4C516D}
.mlist tr:hover{background:#eee}

#Vadd{float:right;font-size:20px}
#Vtitle{color:#81acb3;font-size:40px}
.Vver{float:left;width:170px;height:170px;font-size:11px;text-align:left;cursor:pointer;color:#54597c;margin:10px;border-radius:5px;}
.Vver0{font-size:12px;font-weight:normal;position:absolute;margin-top:112px;background:#AF7695;padding:6px 15px 6px 10px;color:#fff;font-weight:bold; }
.Vver1{font-size:14px;width:160px;height:28px;background:#757dae;position:relative;color:#fff;padding:12px 0px 0px 10px;opacity:0.8}
.Vver2{width:90%;border:1px solid #fff;color:#fff;background:#65BCAD;;;margin-top:20px;position:absolute;}
.Vver3{;position:absolute;margin-top:100px;height:20px;background:#22284f;padding:7px 15px 3px 10px;color:#fff;font-weight:bold}

#Vcode{color:#757dae;border:2px solid #54597c;width:950px;height:700px;font-size:15px;padding:5px;background:#fff}
#Vcontents{color:#bfbec6;border:2px solid #54597c;width:950px;height:700px;font-size:15px;padding:5px;background:#54597c;display:none}

.bottom{clear:both;height:28px;width:100%;background:#757dae; margin-top:50px}
.copy{font-size: 12px; color: #fff; float: left; margin-top:8px}
.site{font-size: 11px; color: #ddd; float: right;margin-top:8px}






