body{margin:0;padding:0}
.contents{width:960px;margin:0 auto;overflow:hidden}
.top{height:60px;background:#dedede}
.middle{margin:20px 0}
.bottom{height:60px;background:#eee}
#login{float:right;width:150px}