body{margin:0;padding:0;font-family: Arial}
div{font-size: 12px}

a:link {text-decoration: none; color: #bfbec3 }
a:visited {text-decoration: none;color: #bfbec3 }
a:active {text-decoration: none;color: #bfbec3 }
a:hover {text-decoration: underline;color: #bfbec3 }

.contents{width:980px;margin:0 auto;overflow:hidden}
.batch{font-family:batch}

.top{width:100%;background:#706E83;height:45px;color:#fff}

#logo{float:left;width:120px}

#menu{float:left;width:255px;margin-top:14px;font-size:15px;text-align:center}
#menu a:link,#menu a:visited,#menu a:active{text-decoration:none;color:#fff;font-weight:bold}
#menu a:hover{text-decoration:underline;color:#fff}

#search{float:left;width:235px;margin-top:10px}
#searchTxt{width:180px;height:20px;line-height:20px;border:0}
#searchBtn{cursor:pointer;font-size:17px;line-height:20px}

#personal{float:right;margin-top:10px;line-height:20px;width:350px}
#personal div{float:left}
#personal .batch{font-size:17px}
#Lemail{width:130px;height:20px;border:0;padding-left:3px}
#Lpw{width:70px;height:20px;border:0;padding-left:3px}
#Llogin{cursor:pointer;border:0;background:#BD84B1;color:#fff;height:24px}
#Ljoin{cursor:pointer;width:60px;border:0;background:none;color:#8ABDE0;height:24px;font-weight:bold;overflow:hidden}
#Lalert{display:none}

#join{display:none;text-align:center;background:#706E83;color:#fff;font-size:15px;padding:10px 0}
#Jcancel,#Jjoin{font-size:40px;color:#fff;cursor:pointer}
#Jalert{color:#8ABDE0;font-size:11px;font-weight:bold}

.middleVisual{width: 100%; height: 410px; }
.lists{margin: 10px;}
.lists .list1{width: 240px;float: left; }
.lists .list2{width: 300px;float: left }
.lists .list3{float: left;}
.lists .recommand{clear:both;margin-left: -10px;padding-bo: 20px}
.lists .blockLine{ height: 17px}

.lists h1{height: 1px;margin: 5px}
.list3 a:visited {text-decoration: none;color: #404040 }
.list3 a:active {text-decoration: none;color: #404040 }

.lists .title{color: #bfbec3; margin-top:-34px;margin-left: 50px; font-size: 11px }
.lists .hitNum{color: #404040; ;font-weight: bold;font-size: 12px}
.lists .list3 .title{ font-size: 20px;color: #404040; margin-top: -95px; margin-left: 115px;}
.lists .list3 .ex{color: #bbbbbb; width: 300px; height: 52px}
.lists .list3 .ex2{ color: #81acac;}

.bottom{clear:both;height:50px;width:100%;background:#706E83; margin-top:50px}
.copy{font-size: 12px; color: #ddd; float: left; margin-top:20px}
.site{font-size: 11px; color: #ddd; float: right;margin-top:20px}



