body{margin:0;padding:0;font-family: Arial}
div{font-size: 12px}
a:link {text-decoration: none; color: #bfbec3 }
a:visited {text-decoration: none;color: #bfbec3 }
a:active {text-decoration: none;color: #bfbec3 }
a:hover {text-decoration: underline;color: #bfbec3 }

.contents{width:980px;margin:0 auto;overflow:hidden}
.batch{font-family:batch}

.top{width:100%;background:#757dae;height:45px;color:#fff}

#logo{float:left;width:100px}

#menu{float:left;width:255px;margin-top:-14px;font-size:13px;text-align:center;text-shadow:1px 1px 0 #000000;}
#menu a:link,#menu a:visited,#menu a:active{text-decoration:none;color:#fff;font-weight:bold}
#menu a:hover{text-decoration:underline;color:#fff}

#search{float:left;margin-top:8px}
#searchTxt{width:155px;height:25px;line-height:20px;padding-left:7px;border:0;border-radius:7px;opacity:0.5;color:#fff;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#searchBtn{cursor:pointer;font-size:14px;line-height:20px;opacity:0.5}

#personal{float:right;margin:8px;line-height:20px;width:405px}
#personal div{float:left}
#personal .batch{font-size:15px;}
#Lemail{width:125px;height:25px;border:0;padding-left:7px;margin:0px 5px 0px 5px;border-radius:7px;opacity:0.5;color:#fff;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#Lpw{width:70px;height:25px;border:0;padding-left:7px;margin:0px 2px 0px 5px;border-radius:7px;opacity:0.5;color:#fff;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#Llogin{cursor:pointer;border:0;background:#BD84B1;color:#fff;}
#Ljoin{cursor:pointer;border:0;background:none;color:#8ABDE0;font-weight:bold;overflow:hidden}
#Lalert{display:none}

#join{height:150px;display:none;text-align:center;background:#659cad;background-image: linear-gradient(to bottom, #659CAD 0%, #FFFFFF 100%);color:#fff;font-size:15px;padding:30px 0}
#Jemail,#Jpw,#Jpwc,#Jnick{color:#fff;width:400px;margin:2px 0 2px 0;height:25px;border:0;padding-left:7px;border-radius:7px;opacity:0.5;background:#4b506c;box-shadow:inset 0px 0px 85px rgba(0,0,0,.5)}
#Jcancel,#Jjoin{font-size:50px;color:#fff;cursor:pointer}
#Jalert{color:#8ABDE0;font-size:11px;font-weight:bold}

#middleVisual{width: 100%; height: 410px;position:relative;overflow:hidden}
.lists{margin: 10px;}
.lists .list1{width: 240px;float: left; }
.lists .list2{width: 300px;float: left }
.lists .list3{float: left;}
.lists .recommand{clear:both;margin-left: -10px;padding-bo: 20px}
.lists .blockLine{ height: 17px}

.lists h1{height: 1px;margin: 5px}
.list3 a:visited {text-decoration: none;color: #4c516d }
.list3 a:active {text-decoration: none;color: #4c516d }

.lists .title{color: #bfbec3; margin-top:-37px;margin-left: 50px; font-size: 12px }
.lists .hitNum{color: #4c516d; ;font-weight: bold;font-size: 11px;margin-top:5px}
.lists .list3 .title{ font-size: 18px;color: #404040; margin-top: -95px; margin-left: 115px;}
.lists .list3 .ex{color: #bbbbbb; width: 300px; height: 48px;margin-top:5px}
.lists .list3 .ex2{ color: #81acac;}

.bottom{clear:both;height:28px;width:100%;background:#757dae; margin-top:50px}
.copy{font-size: 12px; color: #fff; float: left; margin-top:8px}
.site{font-size: 11px; color: #ddd; float: right;margin-top:8px}



